.grid {
  height: 60vh;
  padding: 0 30px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(125, 170, 172);
  margin: 10px 0;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
}
